<footer class="footer overflow-x-hidden">
  <div class="container text-center py-7">
    <div class="d-flex flex-column d-md-row align-items-center ">
      <!-- 左側 LOGO + 品牌介紹 -->
      <div class="col-md-8 ">
        <div class="footer-logo mb-6 p-3 py-4 ms-7">
          <img src="/assets/images/LOGO_150X100.png" alt="網站LOGO" style="object-fit: cover;">
        </div>
        <p>在野Fun趣，找地方不只是準備做飯！更是開始親近自然的第一步。</p>
      </div>

      <!-- 右側 聯絡方式 + icon -->
      <div class="col-md-4 text-md-start">
        <div class="pd-12 mb-20">
          <a href="#"><i class=""><img src="/assets/images/footer/Facebook.png" alt="Facebook"></i></a>
          <a href="#"><i class=""><img src="/assets/images/footer/Ins.png" alt="Ins"></i></a>
          <a href="#"><i class=""><img src="/assets/images/footer/Twitter.png" alt="Twitter"></i></a>
          <a href="#"><i class=""><img src="/assets/images/footer/WA_Logo.png" alt="WhatApp"></i></a>
        </div>
        <div>信箱：<a href="mailto:funcamping@gmail.com" class="text-white text-decoration-none">funcamping@gmail.com</a>
        </div>
        <div>地址：台北市中正區重慶南路一段122號</div>
      </div>
    </div>

    <!-- 版權聲明 -->
  </div>
  <div class=" footer-copyright text-center ">
    © 2025 COPYRIGHT | 本網站圖片及文字僅供個人信息使用 禁止轉載
  </div>
</footer>