<div class="border-bottom border-neutral-50">
    <div class="container d-flex justify-content-between align-items-center py-4">
        <div class="d-flex justify-content-between align-items-center flex-nowrap">
            <a class="d- block me-8" href="/pages/index.html">
                <img src="/assets/images/LOGO_96x60.png" alt="logo">
            </a>
            <ul class="nav" style="height: 45px;">
                <li class="nav-item border-right border-primary ps-0 pe-7">
                    <a class="nav-link text-center" href="#">
                        <h3 class="fs-lg fw-medium text-primary-300 mb-0">最新營地</h3>
                        <p class="fs-ssm text-primary-300 mb-0">Newest</p>
                    </a>
                </li>
                <li class="nav-item border-start border-primary-200 px-7">
                    <a class="nav-link text-center" href="#">
                        <h3 class="fs-lg fw-medium text-primary-300 mb-0">熱門營地</h3>
                        <p class="fs-ssm text-primary-300 mb-0">Popular</p>
                    </a>
                </li>
                <li class="nav-item border-start border-primary-200 px-7">
                    <a class="nav-link text-center" href="#">
                        <h3 class="fs-lg fw-medium text-primary-300 mb-0">露營知識</h3>
                        <p class="fs-ssm text-primary-300 mb-0">Tips & Guides</p>
                    </a>
                </li>
                <li class="nav-item border-start border-primary-200 ps-7 pe-0">
                    <a class="nav-link text-center" href="#">
                        <h3 class="fs-lg fw-medium text-primary-300 mb-0">關於我們</h3>
                        <p class="fs-ssm text-primary-300 mb-0">About Us</p>
                    </a>
                </li>
            </ul>
            <button type="button" class="btn btn-md btn-pr-outline ms-7">野fun去～</button>
        </div>
        <div class="d-flex justify-content-center">
            <a class="p-0" href="#">
                <button type="button" class="btn btn-md btn-pr-noneline"><img class="pe-2" src="/assets/images/chat.png"
                        alt="">營地討論</button>
            </a>
            <a class="p-0" href="#">
                <button type="button" class="btn btn-md btn-pr-noneline"><img class="pe-2"
                        src="/assets/images/user-circle.png" alt="">登入/註冊</button>
            </a>
        </div>
    </div>
</div>