.py-70px {
    padding-top: 70px;
    padding-bottom: 70px;
}

.hero-decoration {
    width: 728px;
    height: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none; // 裝飾圖不影響互動
}

.bg-primary-50 {
    background-color: $primary-50;
}

.card.selectable {
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: $box-shadow-lg;
    }
}

/* 當 input 被選中，對應的 label 加陰影 */
.card-input:checked+.card.selectable {
    box-shadow: $box-shadow-lg;
    border-color: var(--bs-primary); // 可加邊框顏色強調
}

.card img {
    display: block;
}

.w-50 {
    width: 50%;
}

.divider {
    width: 516px;
    /* 或 100%、或 Figma 上量的值 */
    border-top: 1px solid #609451;
    /* Primary/200 */
    margin: 0 auto;
    /* 水平置中 */

}

.card.gradient-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
    pointer-events: none;
}

.card.gradient-overlay .card-img-overlay {
    position: absolute;
    z-index: 2;
}