<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>infoList</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container bg-primary-100 .infoList-bg">
        <h1 >野fun趣 | 知識庫</h1>
    <p> -知識庫列表頁 (info_list.html)<br>
       </p>
    <div class="row ">

      <!--左邊文章-->
      <div class="col-8 bg-primary-50 py-12">
      <div class="d-flex flex-wrap justify-content-between align-items-center gap-3 mb-7">
              <!--第一張-->
            <div class="card mb-3 mr-4 info-card"  >
                <img src="/assets/images/info/裝飾1.png" alt="" class="info-icon">

              <div class="row  border-primary-200 border">

                <div class="col-md-4 py-4 "><!--圖片160px-->
                  <img src="/assets/images/search/searchCamp01.jpg" class="searchImg ms-4 " alt="searchCamp01">
                </div>
                <div class="col-md-8 py-4 ps-4">
                  <div class="card-body p-0 ps-3">
                    <h5 class="fs-6 fw-bold mb-2">新手也能秒懂！第一次露營怎麼準備？<br>從選營地到裝備清單一次搞懂</h5>
                    <p class="fs-sm fw-medium mb-2 p-0">第一次露營就上手！這篇文章教你從挑選適合的新手營地開始，到帳篷、睡袋、照明等基礎裝備怎麼挑、怎麼打包，幫助你避免新手常見失誤，快樂出門、安心回家。
                    </p>
                  
                 <div class=" d-flex align-items-center flex-wrap">
                    <button class="btn btn-pr d-flex  ms-4" type="button">查看更多
                    <span class="material-symbols-outlined ms-2 ">arrow_forward</span></button>
                    </div>
                </div>
                  </div>
                </div>
              </div>
      </div>


        
      </div>

       <!--右邊查詢區-->
      <div class="col-4 bg-primary-200">
        1112
      </div>
    </div>

    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>